<?xml version="1.0"?>
<settings>
  <servers>
    <server>
      <id>anypoint-exchange-v2</id>
      <username>jtorpoco</username>
      <password>Maniac321.</password>
    </server>
    <server>
      <id>mulesoft-releases-ee</id>
      <username>jtorpoco</username>
      <password>Maniac321.</password>
    </server>
  </servers>
  <id>Mule</id>
  <activation>
    <activeByDefault>true</activeByDefault>
  </activation>
  <repositories>
    <repository>
      <id>mulesoft-releases-ee</id>
        <name>mulesoft-releases-ee</name>
        <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/
        <layout>default</layout>
        <releases>
          <enabled>true</enabled>
        </releases>
        <snapshots>
          <enabled>true</enabled>
        </snapshots>
    </repository>
    <repository>
      <id>mulesoft-releases</id>
      <name>MuleSoft Repository</name>
      <url>http://repository.mulesoft.org/releases/
      <layout>default</layout>
    </repository>
      
  </repositories>
      
  <pluginRepositories>
    <pluginRepository>
      <id>mulesoft-releases</id>
      <name>MuleSoft Repository</name>
      <url>http://repository.mulesoft.org/releases/
      <layout>default</layout>
    </pluginRepository>
  </pluginRepositories>
    
</settings>


